<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if logged_in? %>
      <h3>VOCE ESTA LOGADO</h3> 
      <%= link_to "Sair", logout_path, method: :delete%>
      <header>
        <h3>No que voce esta pensando?</h3>
        <%= link_to "Novo Post", new_post_path %>
      </header>
    <% else %>
      Não está logado ao seu
    <% end %>
    <%= yield %>
  </body>
</html>
